* { -webkit-hyphens: none; }
div {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.clear {clear: both;}
.clear:before, .clear:after {
    content: " "; 
    display: table; 
}
.clear { *zoom: 1; }
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 0 30px;
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		 max-width: 1300px;
		padding:0 40px;
	}
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.full {
    max-width: 100%;
    width: 100%;
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo {
    display: inline-block;
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: $font-heading;
    a {
        display: block;
        width: 65px;
        position: relative;
        img {
            width: 100%;
            height: auto;
            float: left;
        }
    }
    .logoname {
        display: inline-block;
        line-height: 1;
        padding-left: 20px;
        @media screen and (min-width: $tabwidth) {
            font-size: 25px;
        }
        em {
            color: $color-orange;
            font-style: normal;
            text-transform: uppercase;
        }
    }
}
.site-footer {
	width: 100%;
	clear: both;
}

#masthead .wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top:20px;
    padding-bottom: 20px;
    @media screen and (min-width: $tabwidth) {
        padding-top:25px;
        padding-bottom: 25px;
    }
}
body {
    font-family: $font__main;
    color:$color-dark-blue;
    font-size: 16px;
    line-height: 1.3;
}