.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0 0 1.5em;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.faqrow {
	width: auto;
	overflow: hidden;
	margin: 0 0 20px 0;	
	background-color: rgba(255,255,255,.05);
	border-radius: 10px;
}
.question {
	width: auto;
	float:left;
	margin: 10px;
	font-weight: bold;
	font-size: 20px;
	cursor:pointer;	
	line-height: 1.3;
	position: relative;
	padding: 0 0 0 20px ;
}
.question-image {
	width: 15px;
	height: 15px;
	position: absolute;
	left: 0px;
	top: 3px;
	background-image: url(images/faq.png);
	background-repeat: no-repeat;
	background-position: 0 0;	
}
.question-image.close {
	background-position: -15px 0;	
}
.answer {
	width: 100%;
	float:left;
	margin: 10px;
	font-size: 14px;
	line-height: 1.3;
	padding: 0 0 0 40px;
	display:none;
}
.plus-minus-toggle {
    cursor: pointer;
    height: 21px;
    position: absolute;
    width: 21px;
    left:-10px;
    top:40%;
    z-index:2;

    &:before,
    &:after {
      background: #eee;
      content: '';
      height: 5px;
      left: 0;
      position: absolute;
      top: 0;
      width: 21px;
      transition: transform 500ms ease;
    }

    &:after {
      transform-origin: center;
    }

    &.collapsed {
      &:after {
        transform: rotate(90deg);

      }

      &:before {
        transform: rotate(180deg);
      }
    }
}

.slides-wrapper {
    position: relative;
    margin: 0 0;
    padding: 0 0;
    border:none;
    max-height: 470px;
    overflow: hidden;
    background: $color-light-orange;
    ul.slides,
    ul.slides .slide {
        float: left;
        height: 100%;
        width: 100%;
        list-style: none;
        margin: 0 0;
        padding: 0 0;
    }
    .slide {
        width: 100%;
        position: relative;
        height: 100%;
        img {
            width: 100%;
            height: auto;
            float: left;
        }
        .caption {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            h1,h2,h3,h4,h5 {
                margin: 0 0 5px;
                line-height: 1;
                font-family: $font-heading;
            }
            h1 {
                font-size: 50px;
            }
            h2 {
                font-size: 45px;
            }
            h3 {
                font-size: 35px;
            }
            h4 {
                font-size: 30px;
            }
            h5 {
                font-size: 25px;
            }
            p {
                margin-top: 0;
                margin-bottom: 15px;
                font-size: 21px;
                line-height: 1.2;
                hyphens: none;
            }
        }
        .inner-wrap {
            width: 80%;
            height: 100%;
            position: relative;
            margin: 0 auto;
        }
        .mid {
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color:#FFF;
            width: 100%;
            @media screen and (min-width: $tabwidth) {
                width: 65%;
            }
        }
    }
    .flex-control-nav {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        z-index: 900;
    }
    .flex-control-paging li a {
        background: rgba(255,255,255,0.45);
        &.flex-active {
            background: rgba(255,255,255,1);
        }
    }
    
}

.text-column.half,
.image-column {
    width: 100%;
    position: relative;
    @media screen and (min-width: $tabwidth) {
        width: 47%;
    }
}
.text-column.half {
    float: left;
    margin-bottom: .5em;
    @media screen and (min-width: $tabwidth) {
        margin-bottom: 0;
    }
}
.image-column {
    float: left;
    @media screen and (min-width: $tabwidth) {
        float: right;
    }
    img {
        width: 100%;
        height: auto;
    }   
}

.entry-content {
    h1,h2,h3,h4,h5 {
        font-family: $font-heading;
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 300;
        line-height: 1.2;
    }
    h1 { font-size: 35px; }
    h2 { font-size: 30px; }
    h3 { font-size: 25px; }
    h4 { font-size: 22px; }
    h5 { font-size: 20px; }
    p a {
        color:$color-orange;
        text-decoration: none;
        position: relative;
        display: inline-block;
        @include transition(all ease-out .3s);
        &:after {
            content: "";
            display: block;
            width: 100%;
            margin: 0 auto;
            height: 1px;
            background: $color-orange;
            position: absolute;
            margin: -1px auto 0;
            transform: scaleX(0);
            visibility: hidden;
            @include transition(all ease-out .2s);
        }
        &:hover {
            &:after {
                transform: scaleX(1);
                visibility: visible;
            }
        }
    }
    ul,ol {
        margin: 0 0 25px 25px;
        padding: 0 0;
    }
    ul {
        list-style: none;
        li {
            position: relative;
            padding-left: 16px;
            margin-bottom: .8em;
            &:before {
                content:"";
                display: block;
                width: 4px;
                height: 4px;
                background: $color-orange;
                position: absolute;
                top: 7px;
                left: 0;
                border-radius: 50px;
            }
        }
    }
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
    @media screen and (min-width: $tabwidth) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .section-title {
        margin: 0 0;
        color:$color-orange;
        text-transform: uppercase;
        text-align: center;
        font-family: $font-heading;
        font-size: 30px;
        font-weight: 300;
        @media screen and (min-width: $tabwidth) {
            font-size: 35px;
        }
    }
    .titlewrap {
        margin-bottom: 30px;
        @media screen and (min-width: $tabwidth) {
            margin-bottom: 60px;
        }
    }
    .text-column p {
        margin-top: 0;
        margin-bottom: 1.5em;
    }
    .text-column {
        h1,h2,h3,h4,h5 {
            margin-top:1.2em;
        }
    }
    .gallery-column {
        .sgallery {
            width: 50%;
            float: left;
        }
        .pad {
            padding:0 10px 16px;
        }
        .stretch {
            margin-left: -10px;
            margin-right: -10px;
        }
    }
}
.section.section2 {
    padding-top: 40px;
    padding-bottom: 40px;
    background: $color-light-orange;
    @media screen and (min-width: $tabwidth) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .highlight {
        background: $color-dark-blue;
        color:#FFF;
        padding: 14px 18px;
        hyphens: none;
        margin-top: 35px;
    }
}
.section.section3 {
    .info {
        width: 100%;
        float: left;
        text-align: center;
        @media screen and (min-width: $tabwidth) {
            width: 50%;
        }
    }
    
    .inline {
        display: inline-block;
    }
    .logodiv {
        max-width: 220px;
        width: 100%;
        margin-bottom: 15px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .imageCol {
        min-height: 220px;
    }
    
    .schoolname {
        display: inline-block;
        margin: 0 0;
        font-family: $font-heading;
        font-size: 22px;
        font-weight: 300;
        padding:8px 14px;
        background: $color-dark-blue;
        color:#FFF;
        border-radius: 10px;
        text-decoration: none;
    }
    .list-wrapper {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .list-wrapper ul {
        margin: 0 0;
        padding: 0 0;
        list-style: none;
        width: 100%;
        display: block;
        float: left;
    }
    .list-wrapper li {
        width: 100%;
        display: block;
        float: left;
        font-size: 16px;
        @media screen and (min-width: $tabwidth) {
            font-size: 13px;
        }
        @media screen and (min-width: $midwidth) {
            font-size: 16px;
        }
    }
    .list-wrapper li.odd {
        .item-info {
            padding:10px 8px;
            background: #fdf8f3;
        }
    }
    .list-wrapper li.even {
        .item-info {
            padding:20px 8px;
            background: #FFF;
        }
    }
}

.section.section4 {
    padding-top: 0;
    .text-column {
        margin-bottom: 50px;
    }
    .bottomCol {
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 80px;
        position: relative;
        z-index: 10;
        @media screen and (min-width: $tabwidth) {
            width: 50%;
            margin-top: 0;
        }
        &:first-child {
            margin-top: 0;
        }
    }
    .photowrap {
        margin-bottom: 15px;
    }
    .frame {
        display: inline-block;
        height: 250px;
        width: 250px;
        overflow: hidden;
        border-radius: 600px;
        img {
            width: 100%;
            height: auto;
            @include transition(all ease-out .4s);
        }
        &:hover img {
            transform: scale(1.2);
        }
    }
    .bottom-title {
        font-family: $font-heading;
        font-size: 30px;
        line-height: 1.1;
        color:$color-orange;
        a {
            text-decoration: none;
            color:$color-orange;
        }
        span {
            color:$color-dark-blue;
        }
    }
    .columns-wrapper {
        position: relative;
        background-image: url('images/wave.png');
        background-repeat: no-repeat;
        background-position: center center;
        @media screen and (min-width: $tabwidth) {
            background-position: center 40%;
        }
        
    }
}

.site-footer {
    background: $color-orange;
    height: 60px;
    margin-top: 20px;
}

.error-404 {
    margin-top: 12%;
    text-align: center;
    h1 {
        margin: 0 0 10px;
        font-family: $font-heading;
        font-size: 30px;
    }
    p {
        margin-top: 0;
        margin-bottom: 1.5em;
    }
}

.titlewrap.ss_titlediv {
    .section-title {
        margin-top: 0;
        hyphens: none;
        text-align: left;
        color:$color-light-blue;
        @media screen and (min-width: $tabwidth) {
            position: relative;
            top: -4px;
        }
    }
}
.text-column.ss_textcolumn {
    @media screen and (min-width: $tabwidth) {
        width: 58%;
    }
}
.image-column.ss_image_column {
    @media screen and (min-width: $tabwidth) {
        width: 38%;
    }
}

.section.pattern-blue {
    background-image:url('images/school_pattern.png');
    background-position: center center;
    background-repeat: repeat;
    background-color:$color-light-blue;
    background-size: 200%;
    color:#FFF;
    @media screen and (min-width: $tabwidth) {
        background-size: 100%;
    }
    .section-title {
        color: #FFF;
        text-align: center;
        text-transform: none;
        font-size: 30px;
    }
    .textwrap {
        .row {
            margin-left: -10px;
            margin-right: -10px;
            @media screen and (min-width: $tabwidth) {
                margin-left: -25px;
                margin-right: -25px;
            }
        }
    }
    .sbox {
        width: 50%;
        float: left;
        margin-bottom: 40px;
        @media screen and (min-width: $tabwidth) {
            width: 25%;
            margin-bottom: 0;
        }
        .pad {
            padding-left: 10px;
            padding-right: 10px;
            @media screen and (min-width: $tabwidth) {
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    }
    .sbox_image {
        position: relative;
        background: $color-green;
        width: 100%;
        margin-bottom: 15px;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            float: left;
            @include transition(all ease-out 0.4s);
        }
        a {
            display: block;
            cursor: pointer;
        }
        &:hover {
            img {
                transform: scale(1.2);
            }
        }
    }
    .sbox_title {
        text-align: center;
        font-weight: 600;
        .title {
            hyphens: none;
        }
        .title i {
            display: inline-block;
            border-bottom: 1px solid #FFF;
        }
        a {
            text-decoration: none;
            color: #FFF;
        }
    }
}

.interior-info.wrapper {
    padding-bottom: 50px;
    position: relative;
}
.section-title-wrap {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0;
}
.page-title {
    margin: 0 0;
    padding: 0 0;
    text-transform: uppercase;
    color:$color-light-blue;
    font-family: $font-heading;
    font-weight: 500;
    font-size: 35px;
}
.interior.entry {
    padding-top: 60px;
    padding-bottom: 0;
    .title {
        margin: 0 0 15px;
        font-family: $font-heading;
        font-weight: 500;
        font-size: 25px;
        text-transform: uppercase;
        color:$color-light-blue;
    }
    .copy {
        hyphens: none;
        p {
            margin-top: 0;
            margin-bottom: 1.5em;
        }
    }
    .textwrap.half {
        width: 100%;
        float: left;
        @media screen and (min-width: $tabwidth) {
            width: 62%;
        }
    }
    .textwrap ul {
        margin: 0 0 20px 20px;
        padding: 0 0;
        list-style: none;
    }
    .textwrap li {
        position: relative;
        padding-left: 18px;
        margin-bottom: 1.5em;
        line-height: 1.4;
        &:before {
            content: "";
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 100px;
            background: $color-orange;
            position: absolute;
            top:8px;
            left: 0;
        }
    }
    .imagecol {
        width: 100%;
        float: left;
        @media screen and (min-width: $tabwidth) {
            width: 36%;
            float: right;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}

body.scroll-up {
    .site-content {
        padding-top: 100px;
    }
    #masthead,
    #interiornav {
        @include transition(all ease-out .3s);
    }
    
    #masthead,
    #interiornav {
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 100;
    }
    #masthead {
        height: 77px;
        .wrapper {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    #interiornav {
        top: 77px;
        z-index: 100;
    }
    &.wds .logo {
        width: 20%;
    }
    &.cdc .logo {
        width: 13%;
    }
    &.cdc .main-navigation,
    &.wds .main-navigation {
        width: 100%;
        @media screen and (min-width: $tabwidth) {
            width: 80%;
        }
    }
}

body.wds .testimonial-post .pad {
    background: $color-wds;
}
body.cdc .testimonial-post .pad {
    background: $color-cdc;
}
.testimonial .section-title-wrap {
    margin-bottom: 30px;
    text-align: left;
}
.testimonial {
    .grid-sizer,
    .grid-item { width: 50%; }
    .grid-item--width2 { width: 50%; }
    @media screen and (min-width: $tabwidth) {
        .grid-sizer,
        .grid-item { width: 33.33333%; }
        .grid-item--width2 { width: 33.33333%; }
    }
}
.testimonial-list {
    margin-left: -10px;
    margin-right: -10px;
    @media screen and (min-width: $tabwidth) {
        margin-left: -15px;
        margin-right: -15px;
    }
    .testimonial-post {
        margin-bottom: 20px;
        float: left;
        color: #FFF;
        @media screen and (min-width: $tabwidth) {
            margin-bottom: 30px;
        }
        .inner {
            padding-left: 10px;
            padding-right: 10px;
            @media screen and (min-width: $tabwidth) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .pad {
            padding:20px;
            box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.34);
        }
        .name {
            font-family: $font-heading;
            font-size: 20px;
            margin: 0 0;
        }
    }
}


